
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea/
###> lexik/jwt-authentication-bundle ###
/config/security/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> database-script ###
/config/database
###> database-script ###
